/* Syntax Highlighting - Nord Theme (Dark) */

.highlight {
    background: rgba(15, 23, 42, 0.8);
    border-radius: 0.75rem;
}

.highlight .c { color: #616e88; font-style: italic } /* Comment */
.highlight .err { color: #bf616a } /* Error */
.highlight .k { color: #81a1c1; font-weight: 600 } /* Keyword */
.highlight .o { color: #81a1c1 } /* Operator */
.highlight .cm { color: #616e88; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #5e81ac; font-weight: 600 } /* Comment.Preproc */
.highlight .c1 { color: #616e88; font-style: italic } /* Comment.Single */
.highlight .cs { color: #616e88; font-weight: 600; font-style: italic } /* Comment.Special */
.highlight .gd { color: #bf616a } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #88c0d0; font-weight: 600 } /* Generic.Heading */
.highlight .gi { color: #a3be8c } /* Generic.Inserted */
.highlight .gp { color: #616e88; font-weight: 600 } /* Generic.Prompt */
.highlight .gs { font-weight: 600 } /* Generic.Strong */
.highlight .gu { color: #88c0d0; font-weight: 600 } /* Generic.Subheading */
.highlight .kc { color: #81a1c1; font-weight: 600 } /* Keyword.Constant */
.highlight .kd { color: #81a1c1; font-weight: 600 } /* Keyword.Declaration */
.highlight .kn { color: #81a1c1; font-weight: 600 } /* Keyword.Namespace */
.highlight .kp { color: #81a1c1; font-weight: 600 } /* Keyword.Pseudo */
.highlight .kr { color: #81a1c1; font-weight: 600 } /* Keyword.Reserved */
.highlight .kt { color: #81a1c1; font-weight: 600 } /* Keyword.Type */
.highlight .m { color: #b48ead } /* Literal.Number */
.highlight .s { color: #a3be8c } /* Literal.String */
.highlight .na { color: #8fbcbb } /* Name.Attribute */
.highlight .nb { color: #8fbcbb } /* Name.Builtin */
.highlight .nc { color: #8fbcbb; font-weight: 600 } /* Name.Class */
.highlight .no { color: #8fbcbb } /* Name.Constant */
.highlight .nd { color: #d08770 } /* Name.Decorator */
.highlight .ni { color: #d08770 } /* Name.Entity */
.highlight .ne { color: #bf616a; font-weight: 600 } /* Name.Exception */
.highlight .nf { color: #88c0d0 } /* Name.Function */
.highlight .nl { color: #8fbcbb } /* Name.Label */
.highlight .nn { color: #8fbcbb } /* Name.Namespace */
.highlight .nt { color: #81a1c1 } /* Name.Tag */
.highlight .nv { color: #d08770 } /* Name.Variable */
.highlight .ow { color: #81a1c1; font-weight: 600 } /* Operator.Word */
.highlight .w { color: #d8dee9 } /* Text.Whitespace */
.highlight .mf { color: #b48ead } /* Literal.Number.Float */
.highlight .mh { color: #b48ead } /* Literal.Number.Hex */
.highlight .mi { color: #b48ead } /* Literal.Number.Integer */
.highlight .mo { color: #b48ead } /* Literal.Number.Oct */
.highlight .sb { color: #a3be8c } /* Literal.String.Backtick */
.highlight .sc { color: #a3be8c } /* Literal.String.Char */
.highlight .sd { color: #616e88; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #a3be8c } /* Literal.String.Double */
.highlight .se { color: #ebcb8b } /* Literal.String.Escape */
.highlight .sh { color: #a3be8c } /* Literal.String.Heredoc */
.highlight .si { color: #ebcb8b } /* Literal.String.Interpol */
.highlight .sx { color: #a3be8c } /* Literal.String.Other */
.highlight .sr { color: #ebcb8b } /* Literal.String.Regex */
.highlight .s1 { color: #a3be8c } /* Literal.String.Single */
.highlight .ss { color: #ebcb8b } /* Literal.String.Symbol */
.highlight .bp { color: #8fbcbb } /* Name.Builtin.Pseudo */
.highlight .vc { color: #d08770 } /* Name.Variable.Class */
.highlight .vg { color: #d08770 } /* Name.Variable.Global */
.highlight .vi { color: #d08770 } /* Name.Variable.Instance */
.highlight .il { color: #b48ead } /* Literal.Number.Integer.Long */

/* Language-specific tweaks */
.language-python .highlight .k { color: #81a1c1 }
.language-javascript .highlight .k { color: #c678dd }
.language-bash .highlight .nb { color: #61afef }
.language-yaml .highlight .na { color: #e06c75 }
